<%= form_for @workshop, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :topic_id  %>
    <%= f.collection_select :topic_id, Topic.all, :id, :titleize_name, {prompt: "Choose a topic"}, class: "form-control dropdown-toggle" %>
  </div>
  <div class="field">
    <%= f.label :title do %>
    	Title <span class="required-text">(required):</span>
    <% end %>
    <br />
    <%= f.text_field :title, autofocus: true, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description do %>
    	Description* (50 Character Min.) <span class="required-text"></span>
    <% end %>
    <br />
    <%= f.text_area :description, :class => "form-control", rows: "5" %>
  </div>
  <div class="field">
    <%= f.label :location do %>
    	Location <span class="required-text">(required):</span>
    <% end %>
    <br />
    <%= f.text_field :location, :class => "form-control location-input" %>
  </div>
  <div class="field">
    <%= f.label :duration do %>
      Duration
    <% end %>
    <br />
    <%= f.text_area :duration, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :format do %>
      Format
    <% end %>
    <br />
    <%= f.text_area :format, :class => "form-control" %>
  </div>
    <div class="field">
    <%= f.label :expected_outcomes do %>
      Expected Outcomes
    <% end %>
    <br />
    <%= f.text_area :expected_outcomes, :class => "form-control", rows: "5" %>
  </div>
  <div class="field">
    <%= f.label :image do %>
      Image <span class="optional-text">(optional):</span>
    <% end %>
    <br />
    <%= f.file_field :image, :class => "form-control" %>
  </div>
  <div class="actions text-center">
  	<br>
    <%= f.submit "Create", :class => "btn btn-primary" %>
  </div>
<% end %>