<div class="container">
	<div class="row">
		<div class="col-md-12">
			<% @workshops.each do |workshop| %>
			<div class="col-md-4">
				<%= image_tag workshop.image.url(:medium), class: "img-responsive workshop-img" %>
			</div>
			<div class="col-md-8 well">
				<h2><%= workshop.title %></h2>
				<h4>
					Topic: <%= workshop.topic.name.titleize %>
					<br>
					Location: <%= workshop.location.titleize %>
				</h4>
				<div class="workshop-index-speaker clearfix">
					<%= image_tag workshop.user.avatar.url(:thumb), class: "tiny-thumb" %>
					<span>
						<h4>Speaker:<%= workshop.user.full_name.titleize %></h4>
					</span>
				</div>
				<p><%= workshop.description %></p>
				<div class="text-center">
					<%= link_to "MESSAGE", workshop_path(workshop), class: "btn btn-primary" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>