<div class="container">
	<div class="row">
		<div class="col-md-12">
			<% @workshops.each do |workshop| %>
			<div class="col-md-4">
				<%= image_tag workshop.image.url(:medium), class: "img-responsive workshop-img" %>
			</div>
			<div class="col-md-8 well">
				<h2><%= workshop.title %></h2>
				<h3>Speaker:<%= workshop.user.full_name.titleize %></h3>
				<p><%= workshop.description %></p>
				<!-- <a class="btn btn-primary" href="workshops/<%= workshop.id %>">BOOK</a> -->
				<!-- above code is html code, we can use rails code for it -->
				<div class="text-center">
					<%= link_to "MESSAGE", workshop_path(workshop), class: "btn btn-primary" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>