<% @workshops.each do |workshop| %>
	<div class="container text-center">
		<div class="col m6">
		<img src="#"></li>
		<h1><%= workshop.title %></h1>
		<h2>Speaker:<%= workshop.user.full_name.titleize %></h2>
		<p><%= workshop.description %></p>
		<!-- <a class="btn btn-primary" href="workshops/<%= workshop.id %>">BOOK</a> -->
		<!-- above code is html code, we can use rails code for it -->
		<%= link_to "BOOK", workshop_path(workshop), class: "btn btn-primary" %>
	</div><br>
	<% end %>
</div>
</div>