<div class="container workshop-show">
	<div class="row workshop-info">
		<div class="col-md-8">
			<div class="workshop-box center-block">
				<%= image_tag @workshop.image.url(:medium), class: "img-responsive workshop-img" %>
				<h2><%= @workshop.title.titleize %></h2>
				<h4>
				<span class="h4-big">Topic: <%= @workshop.topic.name.titleize %></span><br class="br-big">
				<strong>Speaker:</strong> <%= link_to @workshop.user.full_name.titleize, user_path(@workshop.user), class: "speaker-name-link" %><br>
				<strong>Duration:</strong> <%= @workshop.duration %><br>
				<strong>Format:</strong> <%= @workshop.format.name.titleize %><br>
				<strong>Expected Outcomes:</strong> <%= @workshop.expected_outcomes %><br>
				<strong>Price:</strong> $ <%= @workshop.price %>
				</h4>
				<% if current_user == @workshop.user %>
				<%= link_to edit_workshop_path(@workshop), class: "btn btn-primary btn-edit" do %>
				<%= fa_icon "pencil-square-o " %>
				<% end %>
				<%= link_to @workshop, method: :delete, data: {confirm: "Are you sure you want to delete your talk?"}, class: "btn btn-danger btn-delete" do %>
				<%= fa_icon "trash-o" %>
				<% end %>
				<% end %>
				<div class="row clearfix overall-rating-wrapper">
					<div class="col-sm-7">
						<div id="rating-box">
							<div class="col-sm-10">
								<h4><%= pluralize(@workshop.reviews.count, 'review') %> <%= @workshop.reviews.count == 0 ? ' - Be the first to review.' : '' %></h4>
								<%= rating_for @workshop, "rating", disabled: true, readonly: true, id: "trunghuynh" %>
								<br>
								<% if current_user != @workshop.user %>
								<%= link_to "WRITE A REVIEW", new_workshop_review_path(@workshop), class: "btn btn-primary btn-review" %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div id="workshop-description">
					<p><%= simple_format(@workshop.description) %></p>
				</div>
			</div>
		</div>
		<div class="col-md-4 well">
			<div class="span4">
				<h3>About the Speaker</h3>
				<%= image_tag(@workshop.user.avatar.url(:thumb), style: "height: 100px") %><br>
				<h4>
				<%= link_to @workshop.user.full_name.titleize, user_path(@workshop.user), class: "speaker-name-link" %></h4>
				<h4><%= @workshop.user.location.titleize %>
				</h4>
				<% if !current_user or current_user != @workshop.user %>
				<div class="msg-btn-wrapper">
					<%= link_to "MESSAGE", new_conversation_path(workshop: @workshop), class: "btn btn-primary msg-btn" %>
				</div>
				<% end %>
				<p class="speaker-bio"><%= simple_format(@workshop.user.bio) %></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% if @current_user_review %>
			<h4>Your Review:</h4>
			<div class="review-container">
				<div class="workshop-index-speaker clearfix">
					<%= link_to image_tag(@current_user_review.user.avatar.url(:thumb)), user_path(@current_user_review.user), class: "tiny-thumb" %>
					<span>
						<h4 class="speaker-name-link"><%= @current_user_review.user.full_name.titleize %>
						<div class="user-rating-wrapper">
							<%= rating_for_user @workshop, @current_user_review.user, "rating", disabled: true, readonly: true %>
						</div>
						</h4>
						<%= link_to "Edit", edit_workshop_review_path(@workshop, @current_user_review) %>
						<%= link_to "Delete", workshop_review_path(@workshop, @current_user_review), method: :delete, data: {confirm: "Are you sure?"} %>
					</span>
				</div>
				<p><%= simple_format(@current_user_review.text) %></p>
			</div>
			<% end %>
			<% if @reviews.count > 0 %>
			<hr>
			<h2>Users' Reviews</h2>
			<% @reviews.each do |review| %>
			<div class="review-container">
				<div class="workshop-index-speaker clearfix">
					<%= link_to image_tag(review.user.avatar.url(:thumb)), user_path(review.user), class: "tiny-thumb" %>
					<span>
						<h4 class="speaker-name-link"><%= review.user.full_name.titleize %>
						<br>
						<div class="user-rating-wrapper">
							<%= rating_for_user @workshop, review.user, "rating", disabled: true, readonly: true %>
						</div>
						</h4>
						<%= time_ago_in_words(review.created_at) %> ago
					</span>
				</div>
				<p><%= simple_format(review.text) %></p>
			</div>
			<hr class="hr-medium">
			<% end %>
			<% end %>
		</div>
	</div>
</div>