<div class="container">
	<div class="container-fluid">
		<div class="row">

			<div class="col-xs-12 col-md-9">
				<div class="workshop-box center-block">
					<%= image_tag @workshop.image.url(:medium), class: "img-responsive workshop-img" %>
					<% if current_user == @workshop.user %>
						<div class="edit-delete-workshop-btn-wrapper">
							<%= link_to edit_workshop_path(@workshop), class: "btn btn-primary edit-workshop-btn" do %>
								<%= fa_icon "pencil-square-o " %>
							<% end %>
							<%= link_to @workshop, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger delete-workshop-btn" do %>
								<%= fa_icon "trash-o " %>
							<% end %>
						</div>
					<% end %>
					<h2><%= @workshop.title.titleize %></h2>

					<div class="container">
						<h3>Speaker: <%= @workshop.user.full_name.titleize %></h3>
						<div id="workshop-description">
							<p><%= @workshop.description %></p>
						</div>
						<div class="col-md-9 center-block">
							<% if !current_user or current_user != @workshop.user %>
								<%= link_to "MESSAGE", new_conversation_path, class: "btn btn-primary" %>
							<% end %>
						</div>
					</div>

					<div class="col-md-3">
						<div id="rating-box">
							<div class="row">
								<div class="small-2 large-4 columns">
									Overall Rating: <%= rating_for @workshop, "rating", disabled: true, readonly: true %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="span4">
						<h3>About the Speaker</h3>
						<%= image_tag(@workshop.user.avatar.url(:thumb), style: "height: 100px") %>
						<div class="content-heading"><h4><%= @workshop.user.full_name.titleize %></h4></div>
						<p><%= @workshop.user.location.titleize %></p>
						<p><%= @workshop.user.bio %></p>
					</div>
				</div><br>
			</div>

			<!-- Reviews -->
			<div class="container">

				<div class="row">
					<div class="col-md-12 text-center">
						<%= link_to "Write a Review", new_workshop_review_path(@workshop), class: "btn btn-danger btn-review" %>
					</div>
				</div>

				<% if @reviews.count > 0 %>
					<% if @current_user_review %>
						<h4>Your review:</h4>
						<div class="row">
							<div class="span4 review-box">
								<div class="workshop-index-speaker clearfix">
									<%= link_to image_tag(@current_user_review.user.avatar.url(:thumb)), user_path(@current_user_review.user), class: "tiny-thumb" %>
									<span>
										<h4 class="speaker-name-link"><%= @current_user_review.user.full_name.titleize %>
											<br>
											<%= rating_for_user @workshop, @current_user_review.user, "rating", disabled: true, readonly: true %>
										</h4>
										<p><%= @current_user_review.text %></p>
									</span>
								</div>
							</div>
						</div>
						<hr>
					<% end %>
					<% @reviews.each do |review| %>
						<div class="row">
							<div class="span4 review-box">
								<div class="workshop-index-speaker clearfix">
									<%= link_to image_tag(review.user.avatar.url(:thumb)), user_path(review.user), class: "tiny-thumb" %>
									<span>
										<h4 class="speaker-name-link"><%= review.user.full_name.titleize %>
											<br>
											<%= rating_for_user @workshop, review.user, "rating", disabled: true, readonly: true %>
										</h4>
										<p><%= review.text %></p>
									</span>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>

			</div>
			
		</div>
	</div>
</div>