<div class="row inbox-msg">
  <div class="col-xs-12">
    <div class="media">
      <%= link_to conversation_path(conversation), class: 'msg' do %>
        <div class="col-sm-2">
          <% if inbox_view or !sent_view %>
            <!-- second receipt is sender, first is receiver -->
            <%= Mailboxer::Receipt.where(notification_id: Mailboxer::Notification.where(conversation_id: conversation.id).last.id).where("receiver_id != ?", current_user.id).first.receiver.full_name %>
          <% elsif sent_view %>
            <%= Mailboxer::Receipt.where(notification_id: Mailboxer::Notification.where(conversation_id: conversation.id).first.id).first.receiver.full_name  %>
          <% end %>
        </div>
        <div class="col-sm-10">
          <h4 class="media-heading">
            <% is_read = Mailboxer::Receipt.where(notification_id: Mailboxer::Notification.where(conversation_id: conversation.id).last.id).where("receiver_id = ?", current_user.id).first.is_read %>
            <small><span style="<%= is_read and inbox_view or !inbox_view ? '' : 'color: #353535; font-weight: bold;' %>"> <%= truncate(conversation.subject, length: 50, separator: ' ') %></span> <br class="visible-xs"><span class="msg-truncate"><%= truncate(conversation.messages.last.body, length: 50, separator: ' ') %></span><br class="visible-xs"><span class="msg-date"></b><%= conversation.messages.last.created_at.strftime("%m-%d-%y") %></span></small>
          </h4>
          <p><small></small></p>
        </div>
      <% end %>
    </div>
  </div>
</div>