<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.label :recipients %>
      <% if @recipient && current_user == User.find_by_id(4) %>
        <%= f.collection_select :recipients, @recipient, :id, :full_name, {}, class: "chosen-select form-control" %>
      <% elsif @recipient && current_user != User.find_by_id(4) %>
        <%= f.select(:recipients, User.find([@recipient, 4]).collect {|p| [ p.mailboxer_name, p.id ] }, {selected: [4], disabled: 4}, { multiple: true , class: "chosen-select form-control" })%>
      <% elsif !@recipient && current_user == User.find_by_id(4) %>
        <%= f.select(:recipients, User.all.collect {|p| [ p.mailboxer_name, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })%>
      <% else %>
        <%= f.select(:recipients, User.all.collect {|p| [ p.mailboxer_name, p.id ] }, {selected: 4, disabled: 4}, { multiple: true , class: "chosen-select form-control" })%>
      <% end %>
      <!-- TODO --> 
      <!--add p.username/first_name to display -->
    </div>
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
    </div>

    <%= f.submit "Send Message", class: "btn btn-success" %>

<% end %>