<div class="container">
	<h2>Administration</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.full_name %></td>
					<td><%= user.email %></td>
					<td>
						<%= link_to "View", user_path(user) %>
						<span>/</span>
						<%= link_to "Edit", edit_user_path(user) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="text-center pagination-wrapper">
	<%= will_paginate @workshops, class: "pagination-ui" %>
</div>