<div class="container">
	<div class="row thumbnail userthumb">
		<div class="col-md-4 userchild">
			<div class="avatar-wrapper">
				<%= image_tag @user.avatar.url(:medium), class: "avatar-img", style: "max-width: 300px;" %>
			</div>
		</div>
		<div class="col-md-8 user-info">
			<h2><%= @user.full_name.titleize %></h2>
			<ul>
				<% if @user.link_to_bio %>
				<li>Website: <%= link_to @user.link_to_bio, "http://#{@user.link_to_bio}", target: "_blank", rel: "nofollow" %></li>
				<% end %>
				<li><%= @user.location.titleize %></li>
				<li>Member since <%= @user.created_at.to_date.to_formatted_s(:long_ordinal) %></li>
			<li><p>Organization:
				<% if @user.organization %>
					<%= @user.organization %>
				<% else %>
					<% if current_user %>
					Required for posting a workshop
					<% else %>
					User hasn't submitted an organization
					<% end %>
				<% end %>
			</p></li>
			<li><p>Bio: 
				<% if @user.bio %>
					<%= @user.bio %><br>
				<% else %>
					<% if current_user %>
						Required for posting workshop.
					<% else %>
						User hasn't added bio yet.
					<% end %>
				<% end %>
			</p></li>
			<div>
				<% if !current_user or current_user != @user %>
					<div class="col-md-9 center-block">
							<%= link_to "REQUEST TO BOOK", new_conversation_path(speaker: @user), class: "btn btn-primary" %>
						</div>
				<% else %>
					<%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-default" %> 
					<%= link_to "Change Password", edit_user_password_registration_path(current_user), class: "btn btn-default"  %>
				<% end %>
			</div>
			<!-- see views/devise/registrations/edit.html.erb for edit user view -->
		</div>
	</div>
	<div class="row">
	<% if !current_user or current_user != @user %>
			<h3 class="text-center"><%= @user.full_name %>'s Workshops</h3><br>
		<% else %>
			<h3 class="text-center">My Talks</h3><br>
	<% end %>
			<% @workshops.each do |workshop| %>
		<div class="col-md-12 thumbnail">
				<div class="col-md-4">
					<%= image_tag workshop.image.url(:medium), class: "img-responsive workshop-img" %>
				</div>
				<div class="col-md-8">
					<h2><%= link_to workshop.title.titleize, workshop_path(workshop), class: "workshop-title-link" %></h2>
					<h4>
						Topic: <%= workshop.topic.name.titleize %>
					</h4>
					<p><%= simple_format(truncate(workshop.description, length: 200, seprator: ' ')) %></p>
					<% if !current_user or current_user != @user %>
						<div class="text-center">
							<%= link_to "View", workshop_path(workshop), class: "btn btn-primary" %>
						</div>
					<% end %>
				</div>
		</div>
				<% end %>
	</div>
	<div class="text-center pagination-wrapper">
		<%= will_paginate @workshops, class: "pagination-ui" %>
	</div>
</div>