<div class="container-fluid" id="contact">
	<div class="row text-center contact-info zero-margin">
		<h1>CONTACT US</h1>
		<h3>Questions? Comments? We would love to hear from you.</h3>
		<div class="col-md-4 icons">
			<a href="mailto:info@bigtalker.io?Subject=Hello%20BigTalker" target="_top" class="contact-icon">
				<%= fa_icon "envelope-o 3x", :html => { :style =>  'color:red' } %>
				<h4>EMAIL</h4>
				<p>info@bigtalker.io</p>
			</a>
		</div>
		<div class="col-md-4 icons">
			<%= fa_icon "map-marker 3x" %>
			<h4>LOCATION</h4>
			<p>San Francisco, CA</p>
		</div>
		<div class="col-md-4 icons">
			<a href="tel:+1-650-283-3318" class="contact-icon">
				<%= fa_icon "mobile 3x" %>
				<h4>PHONE</h4>
				<p>650-283-3318</p>
			</a>
		</div>
	</div>

	<div class="row contact-form-wrap zero-margin">
		<div class="col-md-6 col-md-offset-3">
			<ul class="nav nav-tabs contact-tabs">
		    <li class="active"><a data-toggle="pill" href="#contact-form">Contact Us</a></li>
		    <li><a data-toggle="pill" href="#request-speaker-form">Request Speaker</a></li>
		  </ul>
		  <div class="tab-content">
		  	<div id="contact-form" class="tab-pane fade in active">
		  		<%= render 'contact_form' %>
		  	</div>
	  	 	<div id="request-speaker-form" class="tab-pane fade">
	  	 		<%= render 'request_speaker_form' %>
		  	</div>
		  </div>
		</div>
	</div>
</div>