<div class="container-fluid" id="contact">
	<div class="row text-center contact-info zero-margin">
		<h1>CONTACT US</h1>
		<h3>Questions? Comments? We would love to hear from you.</h3>
		<div class="col-md-4 icons">
			<%= fa_icon "envelope-o 3x" %>
			<h4>EMAIL</h4>
			<%= mail_to "hello.bigtalker@gmail.com" %>
		</div>
		<div class="col-md-4 icons">
			<%= fa_icon "map-marker 3x" %>
			<h4>LOCATION</h4>
			<p>San Francisco, CA</p>
		</div>
		<div class="col-md-4 icons">
			<%= fa_icon "mobile 3x" %>
			<h4>PHONE</h4>
			<p>123-456-7890</p>
		</div>
	</div>

	<div class="row contact-form-wrap zero-margin">
		<div class="col-md-6 col-md-offset-3">
			<h3 class="text-center" style="color:#fff">Send Us a Message</h3>
				<%= form_for @message, :html => { :style => 'background-color:#111; color:#fff' } do |f| %>
					<div class="row">
						<div class="col-sm-6">
							<div class="field form-group">
						    <%= f.label :name %><br>
						    <%= f.text_field :name, autofocus: true, required: true, class: "form-control" %>
						  </div>
						</div>
						<div class="col-sm-6">
							<div class="field form-group">
						    <%= f.label :email %><br>
						    <%= f.email_field :email, required: true, class: "form-control" %>
						  </div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						 	<div class="field form-group">
						    <%= f.label :subject %><br>
						    <%= f.text_field :subject, required: true, class: "form-control" %>
						  </div>
							<div class="field form-group">
						    <%= f.label :message %><br>
						    <%= f.text_area :content, rows: "7", required: true, class: "form-control" %>
						  </div>
						  <div class="actions form-group">
						    <%= f.submit 'Send', class: 'button btn-primary form-control' %>
						  </div>
						</div>
					</div>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>