<div class="container-fluid">
	<section id="hero-image">
		<div class="jumbotron">
			<h1>Inspire Your Team</h1>
			<h2>Book a game-changing onsite speaker for your organization</h2>
			<a class="btn btn-primary btn-lg" id="btn-signup" href="/workshops">SEE ALL TALKS</a>
		</div>
	</section>
	
	<!-- Search Bar -->
	<%= render "search_bar" %>

	<!-- Featured Talks -->
	<h2 class="text-center">Featured Talks</h2>
	<div class="workshop-container">
		<div class="row">
			<% @featured_workshops.each do |workshop| %>
				<div class="col-sm-10 col-md-4 col-lg-4 ft-box">
					<div class="thumbnail featured-workshop">
						<%= link_to "#{image_tag(workshop.image.url(:medium))}".html_safe, workshop_path(workshop), class: "img-responsive workshop-img vertical-align" %>
						<div class="featured-workshop-title-wrapper">
							<h3><strong><%= link_to workshop.title.titleize, workshop_path(workshop), class: "workshop-title-link" %></strong></h3>
						</div>
						<h4>
						Topic: <%= workshop.topic.name.titleize %>
						<br>
						</h4>
						<div class="workshop-index-speaker clearfix">
							<%= link_to image_tag(workshop.user.avatar.url(:thumb)), user_path(workshop.user), class: "tiny-thumb" %>
							<span>
								<h4>Speaker:<%= link_to workshop.user.full_name.titleize, user_path(workshop.user), class: "speaker-name-link" %></h4>
							</span>
						</div>
						<p><%= truncate(workshop.description, :length => 150, :separator => ' ') %> <%= link_to "Read More", workshop_path(workshop)%></p>
					</div>
				</div>
			<% end %>
		</div>
	</div><hr>
	<!-- End Featured Workshops -->

	<div class="contact-container">
		<div class="text-center">
			<%= link_to "Contact Us", contact_path, class:"btn btn-primary", id: "btn-contact" %>
		</div>
	</div>
</div>
