<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% else %>
      <title>Big Talker - A marketplace for onsite workshops, seminars, and guest speakers</title>
      <!-- Facebook Card -->
      <meta property="og:image" content="http://i.imgur.com/yK5tMXm.jpg"/>
      <meta property="og:description" content="Big Talker is a trusted marketplace for onsite guest speakers and workshops. Find your team's next inspiring guest speaker or team building exercise." />
      <!-- Twitter Card -->
      <meta name="twitter:title" content="Big Talker - A marketplace for onsite workshops, seminars, and guest speakers">
      <meta name="twitter:description" content="Big Talker is a trusted marketplace for onsite guest speakers and workshops. Find your team's next inspiring guest speaker or team building exercise.">
      <meta name="twitter:image" content="http://i.imgur.com/yK5tMXm.jpg">
      <!-- Google+ -->
      <meta itemprop="name" content="Big Talker - A marketplace for onsite workshops, seminars, and guest speakers">
      <meta itemprop="description" content="Big Talker is a trusted marketplace for onsite guest speakers and workshops. Find your team's next inspiring guest speaker or team building exercise.">
      <meta itemprop="image" content="http://i.imgur.com/yK5tMXm.jpg">
    <% end %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BigTalker_io">
    <meta name="twitter:creator" content="@BigTalker_io">
    <%= favicon_link_tag asset_path('favicon.ico'), type:'image/png' %>
    <%= render 'favicon' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Lustria|Roboto|Merriweather" rel="stylesheet">
  </head>
  <body>
    <div class="nav-and-yield">
      <!--Nav bar -->
      <nav class="navbar navbar-inverse navbar-custom navbar-static-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("big-talker-logo-white.png", alt: "Big Talker"), '/', class: "navbar-brand navbar-logo" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li><%= link_to "Request a Speaker", contact_path %></li>
              <li><a href="https://blog.bigtalker.io/">Blog</a></li>
            </ul>
            <li><%= link_to "Talks", workshops_path, class: "#{params[:controller] == "workshops" and params[:action] == "index" ? 'btn btn-default' : ''}" %></li>
            <!--  </ul> -->
            <!-- <ul class="nav navbar-nav navbar-right"> -->
            <% if current_user %>
            <li>
              <%= link_to new_workshop_path, class: "#{params[:controller] == "workshops" and params[:action] == "new" ? 'btn btn-default' : ''} #{params[:controller] == "sites" and params[:action] == "index" ? 'btn btn-default' : ''}" do %>
                <%= fa_icon("pencil") %> Post a Talk
              <% end %>
            </li>
            <li class="inbox-li">
              <%= link_to mailbox_inbox_path, class: "#{params[:controller] == "mailbox" and params[:action] == "inbox" ? 'btn btn-default' : ''}" do %>
              <%= fa_icon "envelope", id: "envelope" %> <span style="<%= unread_messages_count > 0 ? 'margin-left: 3px;' : ''%>">Inbox</span>
              <% if unread_messages_count > 0 %>
              <span id="inbox-notification"><%= unread_messages_count %></span>
              <% end %>
              <% end %>
            </li>
            <li><a class="dropdown-toggle <%= params[:controller] == "users" and params[:action] == "show" and current_user.slug == params[:id] ? 'btn btn-default' : '' %>" data-toggle="dropdown" href="#"><%= current_user.full_name.titleize %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Sign Up", signup_path, class: "#{params[:controller] == "devise/registrations" and params[:action] == "new" ? 'btn btn-default' : ''} #{params[:controller] == "sites" and params[:action] == "index" ? 'btn btn-default' : ''}" %></li>
          <li><%= link_to "Sign In", login_path, class: "#{params[:controller] == "devise/sessions" and params[:action] == "new" ? 'btn btn-default' : ''}" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <!-- Devise Flash MSG -->
    <div class="notice-error-msg">
      <% if notice.present? %>
      <div class="alert devise-msg alert-info %>">
        <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
        <p>
          <%= notice %>
        </p>
      </div>
      <% elsif alert.present? %>
      <div class="alert alert-danger devise-msg">
        <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
        <p>
          <%= alert %>
        </p>
      </div>
      <% end %>
      <% flash.each do |name, msg| %>
        <% if name == 'error' %>
          <div class="notice-error-msg">
            <div class="alert remind-msg alert-danger">
              <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
              <p>
                <%= msg %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- end Devise Flash MSG -->
    <div class="yield-wrapper">
      <%= yield %>
    </div>
  </div>
  <footer class="text-center">
    <li class="footer-nav"><%= link_to "About Big Talker", about_path %></li>
    <li class="footer-nav"><a href ="/">Copyright 2016</a></li>
    <li class="footer-nav"><a href ="/">Terms and Conditions</a></li>
    <li class="footer-nav"><a href ="http://www.twitter.com/bigtalker_io" target="_blank"><%= fa_icon "twitter 2x" %></a></li>
  </footer>
  <!-- twitter -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <!-- rails js files -->
  <%= javascript_include_tag 'application' %>
  <!-- geocomplete -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdEksj2K9pX7vBO8_jZgjFZk4jvWQQI0o&libraries=places"></script>
  <!-- facebook -->
  <script src="//connect.facebook.net/en_US/all.js"></script>
</body>
</html>